#SPDX-License-Identifier: MIT-0
---
# tasks file for grafana-install

# Add Grafana GPG key
- name: Add Grafana GPG key
  apt_key:
    url: "https://packages.grafana.com/gpg.key"
    state: present

# Add Grafana APT repo
- name: Add Grafana APT repo
  apt_repository:
    repo: "deb https://packages.grafana.com/oss/deb stable main"
    state: present
    filename: grafana.list
    update_cache: yes

# Install Grafana (latest)
- name: Install Grafana
  apt:
    name: grafana-enterprise
    state: present
    update_cache: yes

# Enable service
- name: Enable Grafana service
  systemd:
    name: grafana-server
    enabled: yes

# Start service
- name: Start Grafana service
  systemd:
    name: grafana-server
    state: started

# Ensure Grafana port is up (3000)
- name: Wait for Grafana to start
  wait_for:
    port: 3000
    host: "127.0.0.1"
    timeout: 30
